# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo= pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [12]:
#Convert Iteam price from string to float
chipo['item_price_regex']=chipo['item_price'].str.replace('[\$\,]','',regex=True)
chipo['item_price_regex']=pd.to_numeric(chipo['item_price_regex'])
chipo['item_price_regex']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price_regex, Length: 4622, dtype: float64

In [15]:
np.count_nonzero(chipo.item_price_regex>10.00)

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [23]:
chipo[['item_name','item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

In [22]:
chipo1 = chipo.groupby(by ="item_name")[["item_price"]].min().reset_index()
chipo1

                                item_name item_price
0                       6 Pack Soft Drink    $12.98
1                           Barbacoa Bowl    $11.48
2                        Barbacoa Burrito    $11.08
3                   Barbacoa Crispy Tacos    $11.48
4                     Barbacoa Salad Bowl    $11.89
5                     Barbacoa Soft Tacos    $11.48
6                           Bottled Water     $1.09
7                                    Bowl    $22.20
8                                 Burrito     $7.40
9                             Canned Soda     $1.09
10                      Canned Soft Drink     $1.25
11                          Carnitas Bowl    $11.08
12                       Carnitas Burrito    $11.08
13                  Carnitas Crispy Tacos    $11.75
14                         Carnitas Salad     $8.99
15                    Carnitas Salad Bowl    $11.89
16                    Carnitas Soft Tacos    $11.75
17                           Chicken Bowl    $10.58
18                        Chicken Burrito    $10.58
19                   Chicken Crispy Tacos    $10.98
20                          Chicken Salad    $10.98
21                     Chicken Salad Bowl    $11.25
22                     Chicken Soft Tacos    $10.98
23                                  Chips     $1.99
24           Chips and Fresh Tomato Salsa    $11.80
25                    Chips and Guacamole    $13.35
26      Chips and Mild Fresh Tomato Salsa     $3.00
27     Chips and Roasted Chili Corn Salsa     $2.95
28     Chips and Roasted Chili-Corn Salsa     $2.39
29  Chips and Tomatillo Green Chili Salsa     $2.95
30    Chips and Tomatillo Red Chili Salsa     $2.95
31  Chips and Tomatillo-Green Chili Salsa     $2.39
32    Chips and Tomatillo-Red Chili Salsa     $2.39
33                           Crispy Tacos     $7.40
34                                   Izze     $3.39
35                       Nantucket Nectar     $3.39
36                                  Salad     $7.40
37                          Side of Chips     $1.69
38                             Steak Bowl    $11.08
39                          Steak Burrito    $11.08
40                     Steak Crispy Tacos    $11.75
41                            Steak Salad     $8.69
42                       Steak Salad Bowl    $11.89
43                       Steak Soft Tacos    $11.48
44                            Veggie Bowl    $10.98
45                         Veggie Burrito    $10.98
46                    Veggie Crispy Tacos     $8.49
47                           Veggie Salad     $8.49
48                      Veggie Salad Bowl    $11.25
49                      Veggie Soft Tacos    $11.25

### Step 6. Sort by the name of the item

In [4]:
chipo.sort_values(by = "item_name",ascending=True).reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price
0,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
1,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
2,749,1,6 Pack Soft Drink,[Coke],$6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
4,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

In [3]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [5]:
chipo.groupby(by="item_price").max().sort_values('quantity',ascending=False).head(1)

C:\Users\MBR\AppData\Local\Temp/ipykernel_17216/1437071703.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  chipo.groupby(by="item_price").max().sort_values('quantity',ascending=False).head(1)

            order_id  quantity                     item_name
item_price
$44.25          1443        15  Chips and Fresh Tomato Salsa

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [22]:
VS= np.count_nonzero(chipo.item_name == "Veggie Salad Bowl")
print(VS,"times a Veggie Salad Bowl was ordered")

18 times a Veggie Salad Bowl was ordered

### Step 9. How many times did someone order more than one Canned Soda?

In [33]:
Cann = np.count_nonzero((chipo.item_name == "Canned Soda") & (chipo.quantity > 1))
print(Cann,"times people orderd more than one Canned Soda")

20 times people orderd more than one Canned Soda