# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

In [4]:
cars2=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")
cars2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [9]:
cars1 = cars1.dropna(axis = 1,inplace=False)
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [11]:
cars1.shape

(198, 9)

In [12]:
cars2.shape

(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [18]:
#solution1
cars = pd.merge(cars1, cars2, on="mpg")
cars

,mpg,cylinders_x,displacement_x,horsepower_x,weight_x,acceleration_x,model_x,origin_x,car_x,cylinders_y,displacement_y,horsepower_y,weight_y,acceleration_y,model_y,origin_y,car_y
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,6,250,78,3574,21.0,76,1,ford granada ghia
1,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,6,250,78,3574,21.0,76,1,ford granada ghia
2,18.0,6,199,97,2774,15.5,70,1,amc hornet,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.0,6,232,100,3288,15.5,71,1,amc matador,6,250,78,3574,21.0,76,1,ford granada ghia
4,18.0,6,258,110,2962,13.5,71,1,amc hornet sportabout (sw),6,250,78,3574,21.0,76,1,ford granada ghia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,15.5,8,304,120,3962,13.9,76,1,amc matador,8,318,145,4140,13.7,77,1,dodge monaco brougham
340,15.5,8,304,120,3962,13.9,76,1,amc matador,8,350,170,4165,11.4,77,1,chevrolet monte carlo landau
341,15.5,8,304,120,3962,13.9,76,1,amc matador,8,400,190,4325,12.2,77,1,chrysler cordoba
342,15.5,8,304,120,3962,13.9,76,1,amc matador,8,351,142,4054,14.3,79,1,ford country squire (sw)
343,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,4,151,88,2740,16.0,77,1,pontiac sunbird coupe

In [22]:
#solution2
cars = pd.concat([cars1, cars2],ignore_index=True)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97,52,2130,24.6,82,2,vw pickup
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120,79,2625,18.6,82,1,ford ranger
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [51]:
#Solution1
owners = pd.Series(np.random.randint(15000, 73001, cars.shape[0]),dtype=int)
owners

0      30762
1      59752
2      21168
3      55283
4      31835
       ...
393    36153
394    65253
395    64439
396    22237
397    32869
Length: 398, dtype: int32

In [40]:
#Solution2
owners2 = np.random.randint(15000,73001, size=398,dtype=int)
owners2

array([47568, 35336, 46741, 30355, 70327, 44115, 40967, 58274, 18919,
       67383, 37827, 51093, 23396, 34318, 43353, 65913, 68409, 25571,
       18961, 58809, 45273, 17040, 71426, 41811, 18669, 50747, 48057,
       26776, 51373, 24960, 71383, 32259, 68595, 64881, 31844, 31114,
       36864, 18954, 58812, 22830, 61737, 47300, 69998, 42108, 51888,
       57260, 48926, 48182, 71265, 24136, 45561, 35890, 43018, 49383,
       55421, 27944, 65331, 43018, 69376, 31442, 49712, 53117, 19903,
       47244, 53988, 36110, 17371, 49340, 23068, 16155, 41501, 43282,
       31066, 64003, 26513, 65169, 26809, 59948, 27418, 69551, 19546,
       33446, 17930, 34466, 55582, 48682, 47783, 25689, 35142, 18022,
       38765, 72614, 58355, 56065, 41014, 51550, 58164, 34072, 57728,
       16183, 65135, 26200, 28795, 29660, 66698, 32058, 16612, 57980,
       31015, 68943, 34334, 44600, 34967, 67990, 27827, 15683, 66806,
       53864, 70465, 49297, 36448, 41598, 58845, 52726, 15477, 46265,
       53103, 64738, 60722, 43625, 32574, 25167, 41640, 18352, 37404,
       48893, 39401, 31266, 55229, 38992, 24136, 32523, 24018, 32730,
       35318, 26833, 51421, 57159, 28817, 39323, 57128, 37997, 50607,
       47879, 29576, 15679, 30278, 66460, 16458, 24212, 39159, 62556,
       58368, 53270, 17537, 65741, 69072, 60818, 58588, 20327, 66847,
       36621, 72002, 20870, 63048, 71954, 41895, 62331, 44022, 37245,
       58977, 50429, 38288, 45047, 20215, 28325, 45899, 23396, 70068,
       24259, 16992, 67961, 29747, 44560, 34135, 47015, 67953, 67441,
       15845, 19060, 54458, 16311, 42042, 46491, 39631, 34485, 21021,
       38717, 50194, 55315, 50920, 65502, 34600, 48807, 51092, 50288,
       25277, 47951, 22920, 46302, 42593, 69128, 45544, 26199, 23399,
       46933, 62649, 32904, 45803, 20729, 63912, 66179, 60100, 51537,
       48735, 52372, 23510, 35195, 29737, 16281, 20259, 21229, 65504,
       27305, 27586, 26971, 32462, 32156, 36364, 58393, 37684, 52765,
       54460, 51138, 43761, 31629, 51485, 41855, 43648, 24544, 20236,
       55092, 30380, 56208, 20385, 51593, 52464, 66347, 65109, 61646,
       30808, 21316, 18459, 17967, 27879, 38784, 41787, 20488, 55150,
       69781, 51487, 41769, 21241, 71462, 72084, 48483, 41879, 30246,
       66847, 24873, 48632, 42676, 37406, 15220, 29845, 33769, 31287,
       66094, 65526, 57195, 56473, 27715, 72008, 71975, 23663, 38261,
       40569, 44635, 36046, 44139, 42568, 33460, 32755, 68673, 57414,
       20239, 40594, 26427, 66133, 28170, 53752, 52926, 26199, 53855,
       56780, 33134, 43257, 17703, 17708, 55601, 28611, 15998, 63904,
       35466, 54872, 20895, 20088, 50281, 58966, 47361, 71739, 37936,
       45330, 44774, 70281, 30773, 22993, 33288, 57912, 39342, 30623,
       60891, 31945, 65971, 20973, 44107, 53819, 64514, 52746, 50195,
       72290, 19271, 21709, 55573, 66451, 63984, 40461, 63130, 67076,
       51763, 68859, 33850, 69681, 35609, 15694, 33675, 53716, 70092,
       53828, 66244, 40693, 19101, 44563, 23246, 35878, 67709, 61282,
       35746, 28270, 31586, 16613, 66908, 43594, 31750, 63747, 42294,
       27808, 34639])

### Step 8. Add the column owners to cars

In [52]:
cars['owners']=owners
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,30762
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,59752
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,21168
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,55283
4,17.0,8,302,140,3449,10.5,70,1,ford torino,31835
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,36153
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,65253
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,64439
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,22237
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,32869